* {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    background-color: hsl(200, 81%, 15%);
}

h1 {
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-weight: 900;
    font-size: 60px;
    color:#c94d4dd2;
    background-color:rgb(14, 34, 34);
    height:120px;
}

h3 {
    font-size:40px;
    color:rgba(213, 227, 10, 0.888);
    background-color:  hsl(199, 46%, 18%);
    text-align: center;
}

img {
    margin:0 auto;
    border: 2px solid red;
    width: 400px; 
    height: 300px; 
    display: block;
}

ul {
    text-align: center;
    list-style-type: none;
    background-color: hsl(200, 81%, 15%);
}

li {
    padding:20px;
}

a, li {
    text-decoration: none;
    font-size: 30px;
    color:#c94d4dd2;
    font-weight: bold;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}